@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

.active {
  background-color: rgba(100, 60, 72, 0.178);
}

.brand-logo {
  font-family: "Grand Hotel", cursive;
}

.auth-card {
  padding: 30px;
  max-width: 400px;
  text-align: center;
  margin: 30px auto;
}
.input-field:focus {
  border-bottom: 1px solid #1565c0 !important;
  box-shadow: 0 1px 0 0 #1565c0 !important;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: rgb(65, 57, 136);
}

.input-icon {
  position: relative;
  display: flex;
  margin-bottom: 14px;
}
i {
  position: absolute;
  top: 38%;
  margin-left: 95%;
}
i:hover {
  color: #1565c0;
  cursor: pointer;
}

.btn-btn {
  width: 320px;
}
.special-btn {
  width: 100px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.profile-img {
  width: 100%;
  height: 150px;
  border-radius: 100px;
  margin-top: 20px;
  margin-bottom: 5px;
}

.profile-div {
  display: flex;
  justify-content: space-around;
  border-bottom: rgba(100, 60, 72, 0.178) 2px solid;
}

.gallery {
  margin-top: 20px;
  display: flex;
  width: 33%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.gallery-item {
  min-height: 150px;
  border: solid thistle ;
  border-radius: 10px;
}

.home-card {
  max-width: 350px;
  height: max-content;
  margin: auto;

}
.card-image {
  width: 350px;
  height: 350px;
}

.profileCart {
  width: 30%;
}